<footer class="ftr">
    <div class="wrap ftr-content">
        <!-- menú -->
        <nav>
            <ul class="ftr-nav bf-s">
                <li><a href="herramienta.html">Herramienta</a></li>
                <li><a href="busco-ayuda.html">Busco ayuda</a></li>
            </ul>
        </nav>

        <div class="ftr-end">
            <!-- title -->
            <p class="hf-xl">Cuando Nace Otra Madre</p>

            <!-- créditos -->
            <div class="ftr-end_credits ftr-end-txt">
                <a href="https://caletastudio.com/" target="_blank" rel="noopener noreferrer">Un proyecto social de
                    CALETA STUDIO</a>
                <small>2026©</small>
            </div>
            <div class="ftr-end_participate ftr-end-txt">
                <p>Con la participación de:</p>
                <p class="participant_list">
                    <span class="participant_name">Borja Signes — Concepto, diseño y desarrollo</span>
                    <span class="participant_name">Marta Zaragozá — Asesoramiento en psicología perinatal</span>
                    <span class="participant_name">Lorena Climent — Inspiración y experiencia vivida</span>
                </p>
            </div>

            <!-- legales -->
            <nav>
                <ul class="ftr-end_legals ftr-end-txt">
                    <li><a href="privacidad.html">Política de privacidad</a></li>
                    <li><a href="cookies.html">Política de cookies</a></li>
                </ul>
            </nav>

        </div>
    </div>
</footer>