<header class="wrap el-sticky">

    <!------  ░░░░  N A V  ░░░░  ------>
    <nav class="" aria-label="Navegación principal">

        <ul class="grid-hdr grey">
            <!------ LOGOTIPO ------>
            <li class="nav-left"> <a class="logo" href="index.html" aria-label="Ir a la página de inicio">

                    <!-- logo estado 1: active -->
                    <img class="logo-img is-active" src="assets/img/global/logo-step-1.svg"
                        data-grey="assets/img/global/logo-step-1.svg"
                        data-brown="assets/img/global/logo-step-1-brown.svg" alt="">

                    <!-- logo estado 2 -->
                    <img class="logo-img" src="assets/img/global/logo-step-2.svg"
                        data-grey="assets/img/global/logo-step-2.svg"
                        data-brown="assets/img/global/logo-step-2-brown.svg" alt="">

                    <!-- logo estado 3 -->
                    <img class="logo-img" src="assets/img/global/logo-step-3.svg"
                        data-grey="assets/img/global/logo-step-3.svg"
                        data-brown="assets/img/global/logo-step-3-brown.svg" alt="">

                </a></li>
            <!------ HERRAMIENTA ------>
            <li class="nav-center"><a class="" href="herramienta.html">Herramienta</a></li>
            <!------ BUSCO AYUDA ------>
            <li class="nav-right"><a class="" href="busco-ayuda.html">Busco ayuda</a></li>
        </ul>
    </nav>
</header>