<section class="tool" data-header-theme="brown">

    <!------  ░░░░  T O O L  ░░░░  ------>
    <div class="sect-sticky">

        <!------ 1.0 GRÁFICOS ------>
        <div class="tool_intro_img">
            <picture class="tool_intro_img__base">
                <source srcset="assets/img/tool/tool-bg.webp" type="image/webp">
                <img src="assets/img/tool/tool-bg.png" alt="flor morada desenfocada">
            </picture>

            <picture class="tool_intro_img__ghost ">
                <source srcset="assets/img/tool/tool-bg.webp" type="image/webp">
                <img class="ghost_02" src="assets/img/tool/tool-bg.png" alt="flor morada desenfocada">
            </picture>
        </div>

        <!-- degradado inicio sección siguiente -->
        <div class="tool_gradient">
            <div class="tool_gradient__white"></div>
        </div>

        <div class="wrap">
            <!------ 2.0 CONTENIDO ------>
            <div class="tool_hdr">
                <!-- 2.1 Texto superior -->
                <h2 class="hf-l two-lines-title">
                    <span class="two-lines-title-line">¿Qué forma tiene</span>
                    <span class="two-lines-title-line">lo que sientes?</span>
                </h2>
                <div class="txt-block">
                    <p>Esta herramienta te acompañará a mirar, paso a paso, cómo estás viviendo el posparto. </p>
                    <p>A través de cinco preguntas sencillas, te ayudará a reconocer señales de malestar emocional,
                        poner
                        palabras a
                        lo que quizá todavía no sabes explicar y abrir la posibilidad de pedir acompañamiento.</p>
                </div>
            </div>

            <!-- 2.2 Texto inferior -->
            <div class="tool_txt_inf">
                <p class="tool_txt_inf_1">No es un diagnóstico. </p>
                <p class="tool_txt_inf_2">No tienes que tenerlo claro del todo.</p>
                <p class="tool_txt_inf_3">Elige la opción que mejor refleje cómo estás ahora.</p>
            </div>

            <!-- 2.3 button -->
            <button class="btn btn-breath">EMPEZAR</button>
        </div>
    </div>



</section>